@{
  Layout = "_EngineerLayout";
}
@model Factory.Models.Engineer

<h1>Edit</h1>
<h2>Edit engineer: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  @Html.HiddenFor(model => model.HireDate)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new { required="required" })
  @Html.Label("Select machine")
  @Html.DropDownList("MachineId", (SelectList)ViewBag.MachineId, "None")
  <input type="submit" value="Save"/>
}